<?xml version="1.0" encoding="UTF-8"?>
<suite name="All Tests">
    <test name="Regression Tests">
        <suite-files>
            <suite-file path="TestRunners/testng-regression.xml"/>
        </suite-files>
    </test>
    
    <test name="Sanity Tests">
        <suite-files>
            <suite-file path="TestRunners/testng-sanity.xml"/>
        </suite-files>
    </test>
</suite>